@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        cursor: none !important;
    }

    body {
        @apply bg-gray-50;
    }
}

@layer utilities {
    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}